Analysis:

---

Query 1: List the employee number, last name, first name, sex, and salary of each employee.

SELECT sal.emp_no, emp.last_name, emp.first_name, emp.sex, sal.salary 
FROM employees as emp 
INNER JOIN salaries as sal 
ON emp.emp_no = sal.emp_no;

---